mat-toolbar {
    background-color: #FF5733 !important;
}


/* mat-expansion-panel-header{
background-color: black;

}
mat-expansion-panel-header:nth-of-type(odd) {
background-color: red;
} */


/* mat-expansion-panel-header{background: #CCC}*/

tr {
    width: 100%;
}

table {
    width: 100%;
    color: black;
}

td {
    width: 33%;
}

.even {
    background: #CCC
}

.odd {
    background: white
}

.even-child {
    background: rgba(204, 204, 204, 0.4)
}

.odd-child {
    background: white
}


/* .text {
display: block;
width: 100px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
} */

.dropdown {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 25%;
    background-color: rgba(204, 204, 204, 0.4);
}

.httpRestMethod {
    border-radius: 25px;
    padding: 10px;
    font-weight: 400;
}

.postClass {
    background: #49cc90;
}

.putClass {
    background: #fca130;
}

.getClass {
    background: #61affe;
}

.deleteClass {
    background: #f93e3e;
    border-radius: 25px;
    width: 55px;
    height: 20px;
}

.textSytle {
    font: Helvetica;
    font-size: 14px;
    line-height: 21px;
    color: #747678;
    letter-spacing: 0.01em;
}

.progressSpinner {
    text-align: center;
    margin: 0 auto;
}

.bodyDesc {
    color: black;
}

.bodyDesc .descriptionBody {
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

.descTransClose {
    opacity: 1;
    transition: opacity 2s;
}

.descTransOpen {
    opacity: 0;
}

.headerbox {
    display: flex;
    align-items: center;
}

.headerStyle {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-left: 12px;
    color: rgb(0, 0, 0);
    font-weight: 24px;
    font-size: 24px;
    line-height: 28px;
}