
  <mat-card>
    <mat-card-title>{{el?.name}} </mat-card-title>
    <div>
      <div style="width:33%; display:inline-block;">
        {{el?.properties.method}}
      </div>
      <div style="width:33%; ; display:inline-block;">
        {{el?.properties.urlTemplate}}
      </div>
      <div style="width:33%; ; display:inline-block;">
        <span *ngFor="let item of el.properties.request?.header">
          {{item?.name}}
          {{item?.description}}
          {{item?.type}}
        </span>
      </div>
    </div>
    <div>
      <div style="width:75%; display:inline-block;">
        {{el?.properties.description}}
      </div>
      <div style="width:25%; ; display:inline-block;">
        <span *ngFor="let item of el.properties.request?.queryParameters">
          {{item?.description}}
          {{item?.name}}
          {{item?.type}}
          <span *ngFor="let itm of item.values">
            Value: {{itm}}
          </span>
        </span>
      </div>
    </div>
    <div>
      <div style="width:50%; display:inline-block;">
        <span *ngFor="let item of el.properties.request?.representations">
          {{item?.contentType}}
          {{item?.schemaId}}
          {{item?.represetypeName}}
        </span>
      </div>
      <div style="width:50%; ; display:inline-block;">
        <span *ngFor = "let item of el.properties?.responses">
          {{item?.statusCode}} {{item?.description}}
            <span *ngFor = "let itm of item.values">
              Value: {{itm}}
            </span>
            <span *ngFor = "let item of item?.representations">
            {{item?.contentType}}
            {{item?.schemaId}}
            {{item?.represetypeName}}
           </span>
          </span>
      </div>
    </div>
  </mat-card>
